@font-face {
  font-family: "iconfont"; /* Project id 2633084 */
  src: url('iconfont.woff2?t=1624951454871') format('woff2'),
       url('iconfont.woff?t=1624951454871') format('woff'),
       url('iconfont.ttf?t=1624951454871') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangjia:before {
  content: "\e626";
}

.icon-liulanqi:before {
  content: "\effe";
}

.icon-eliaomo:before {
  content: "\e600";
}

.icon-OrderDetail:before {
  content: "\e6e1";
}

.icon-mine:before {
  content: "\e601";
}

